.clinic-wrapper {
    width: 400px;
    height: 500px;
    margin: 1rem;
    box-sizing: border-box;
    font-size: 50px;
    font-size: 14px;
    padding: 0;
    .clinic-image {
        .image {
            position: relative;
            width: 100%;
            margin: 0;
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }
    .content-wrapper {
        padding: 1rem;
        overflow: auto;
        height: 220px;
        .clinic-name {
            font-weight: 700;
        }
        .clinic-facilities {
            .facilities {
                font-weight: 700;
            }
        }
    }
}
:hover {
    cursor: pointer;
    .image {
        opacity: 0.3;
    }
}

@media screen and (max-width: 1200px) {
    .clinic-wrapper {
        width: 250px;
        .content-wrapper {
            height: 315px;
        }
    }
}

@media screen and (max-width: 600px) {
    .clinic-wrapper {
        width: 90%;
        .content-wrapper {
            height: 180px;
        }
    }
}

::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 1.25rem;
    border: 0.375rem solid transparent;
    background-clip: content-box;
}
