@import "../../../common/styles/quickDoc.scss";

.apply-opportunity-container {
    padding: 1rem;
    .name {
        .name-field {
            min-width: 100%;
            width: 0;
        }
    }
    .email {
        .email-field {
            min-width: 100%;
            width: 0;
        }
    }
    .mobile {
        .mobile-field {
            min-width: 100%;
            width: 0;
            mat-icon {
                margin-left: 0.5rem;
                cursor: pointer;
            }
            mat-icon:hover {
                color: $mainForeColor;
            }
        }
    }
    .file-upload {
        margin-bottom: 1.34375em;
        border: 0.063rem solid;
        border-radius: 0.25rem;
        border-color: #e0e0e0e0;
        overflow-x: scroll;
        input {
            padding: 1rem 0.625rem;
            cursor: pointer;
        }
    }
    .file-upload:hover {
        border-color: #000000;
        border: 0.125rem solid;
    }
    .submit {
        button {
            min-width: 100%;
            background-color: $mainForeColor;
            color: $mainBackgroundColor;
        }
        :hover {
            background-color: $mainBackgroundColor;
            color: $mainForeColor;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 350px) {
    .apply-opportunity-container {
        font-size: 0.75rem;
    }
    .submit {
        font-size: 1rem;
    }
}

::ng-deep .mat-form-field-appearance-outline:focus .mat-form-field-outline:focus {
    color: $mainForeColor;
}
