.apply-opportunity-container {
    padding: 1rem;
    .name {
        .name-field {
            min-width: 100%;
        }
    }
    .email {
        .email-field {
            min-width: 100%;
        }
    }
    .mobile {
        .mobile-field {
            min-width: 100%;
        }
    }
    .file-upload{
        padding-bottom: 1.34375em;
    }
    .submit {
        button {
            min-width: 100%;
        }
    }
}