<div class="apply-opportunity-container">
    <div class="name">
        <mat-form-field class="name-field" appearance="outline">
            <mat-label>Full name</mat-label>
            <input matInput placeholder="David williams">
        </mat-form-field>
    </div>
    <div class="email">
        <mat-form-field class="email-field" appearance="outline">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="david.williams.quickdoc.me">
        </mat-form-field>
    </div>
    <div class="mobile">
        <mat-form-field class="mobile-field" appearance="outline">
            <mat-label>Mobile number</mat-label>
            <input matInput placeholder="+910000000000">
        </mat-form-field>
    </div>
    <div class="file-upload">
        <input type="file" [accept]="careerAcceptableUploadFileTypes" style="visibility: none;"  multiple>
    </div>
    <div class="submit">
        <button mat-raised-button color="primary">Apply</button>
    </div>
</div>