<div class="container container-fluid container-xxl container-xl container-lg container-md container-sm">
    <div class="back-container">
        <span class="back-text" (click)="onBackClick()">
            <mat-icon>keyboard_backspace</mat-icon>
            <span>Back</span>
        </span>
    </div>
    <div class="row opportunity-container">
        <div class="col content">
            <div class="title">
                <h2> {{ career.name }} </h2>
            </div>
            <div class="tags">
                <div class="tag-item" *ngFor="let tag of career.tags">
                    <span class="display"> {{ tag.display }} </span>
                </div>
            </div>
            <div class="description">
                <h6> {{ career.description }} </h6>
            </div>
            <div class="responsibility">
                <span> Responsibilities: </span>
                <ul>
                    <li *ngFor="let responsibility of career.responsibilities">
                        {{ responsibility }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col apply-job-wrapper">
            <input type="text">
        </div>
    </div>
</div>