.apply-opportunity-container {
    padding: 1rem;
    .name {
        .name-field {
            min-width: 100%;
        }
    }
    .email {
        .email-field {
            min-width: 100%;
        }
    }
    .mobile {
        .mobile-field {
            min-width: 100%;
        }
    }
    .file-upload {
        margin-bottom: 1.34375em;
        border: 0.063rem solid;
        border-radius: 0.25rem;
        border-color: #e0e0e0e0;
        input {
            padding: 1rem 0.625rem;
        }
    }
    .file-upload:hover {
        border-color: #000000;
        border: 0.125rem solid;
    }
    .submit {
        button {
            min-width: 100%;
        }
    }
}
