.login-container {
    font-family: "Style Script", cursive;
    height: 94.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../../../../assets/images/public-site-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .label-container {
        .login-label {
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
    .username-container {
        display: flex;
        margin-bottom: 2rem;
        justify-content: center;
        margin-top: 1rem;
        .username-section {
            height: 3rem;
            width: 20rem;
            background-color: #ffffff;
            box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            .username-input {
                border-width: 0;
                margin-left: 1rem;
                height: 3rem;
                width: 17rem;
                outline: none;
            }
            :focus {
                outline: none;
            }
        }
    }
    .password-container {
        display: flex;
        margin-bottom: 2rem;
        justify-content: center;
        .password-section {
            height: 3rem;
            width: 20rem;
            background-color: #ffffff;
            box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            .password-input {
                border-width: 0;
                margin-left: 1rem;
                height: 3rem;
                width: 17rem;
                outline: none;
            }
            :focus {
                outline: none;
            }
        }
    }
    .login-section {
        .login-button {
            background-color: rgb(10, 129, 233);
            color: #ffffff;
            width: 20rem;
            text-transform: capitalize;
        }
    }
    .forgot-password {
        .forgot-password-label {
            font-size: 0.8rem;
            text-decoration: underline;
            cursor: pointer;
            color: #0000ff;
        }
    }
}
