<!-- <div class="login-container">
    <div class="row username-container">
        <div class="col username">
            <input mat-input class="username-input" placeholder="Username">
        </div>
    </div>
    <div class="row password-container">
        <div class="col password">
            <input mat-input class="password-input" placeholder="Password">
        </div>
    </div>
</div> -->

<div class="login-container">
    <div class="row username-container">
        <div class="col username-section">
            <input mat-input type="text" class="username-input" placeholder="Username">
        </div>
    </div>
    <div class="row password-container">
        <div class="col password-section">
            <input mat-input type="password" class="password-input" placeholder="Password">
        </div>
    </div>
    <div class="row">
        <button mat-raised-button class="login-button">Login</button>
    </div>
</div>