<div class="login-container">
    <div class="label-container">
        <mat-label class="login-label">
            <span>login to the portal</span>
        </mat-label>
    </div>
    <div class="username-container">
        <div class="username-section">
            <input mat-input type="text" class="username-input" placeholder="Username">
        </div>
    </div>
    <div class="password-container">
        <div class="password-section">
            <input mat-input type="password" class="password-input" placeholder="Password">
        </div>
    </div>
    <div class="login-section">
        <button mat-raised-button class="login-button">login</button>
    </div>

</div>