// Color codes defines here
$mainForeColor: #0a81e9;
$mainBackgroundColor: #ffffff;
$mainFontColor: #ffffff;

// Image URL defines here
$contactUsBackgroundImageURL: url('../../../../assets/images/contact-us-background.jpg');