// Color codes defines here
$mainForeColor: #0a81e9;
$mainBackgroundColor: #ffffff;
$mainFontColor: #ffffff;

// Image URL defines here
$contactUsBackgroundImageURL: url('../../../../assets/images/contact-us-background.jpg');
$loginBackgroundImageURL: url('../../../../assets/images/public-site-background.jpg');
$registrationBackgroundImageURL: url('../../../../assets/images/public-site-background.jpg');
$newsBackgroundImageURL: url('../../../../assets/images/public-site-background.jpg');
$careersBackgroundImageURL: url('../../../../assets/images/public-site-background.jpg');