// Color codes defines here
$mainForeColor: #f5c13b;
$mainBackgroundColor: #242220;

$primaryBackgroundColor: #f5c13b;
$secondaryBackgroundColor: #242220;

$mainFontColor: #242220;
$secondaryFontColor: #f5c13b;

$primaryFontFamily: "Roboto Mono";
$secondaryFontFamily: monospace;

$buttonTextColor: #242220;
$buttonColor: #f5c13b;
$buttonTextSecondaryColor: #f5c13b;
$buttonSecondaryColor: #242220;

$sideBarHoverColor: #f5c13b;

// Image URL defines here
$contactUsBackgroundImageURL: url('../../../../assets/images/contact-us-background.jpg');
$loginBackgroundImageURL: url('../../../../assets/images/public-site-background.jpg');
$registrationBackgroundImageURL: url('../../../../assets/images/public-site-background.jpg');
$newsBackgroundImageURL: url('../../../../assets/images/public-site-background.jpg');
$careersBackgroundImageURL: url('../../../../assets/images/careers-background.jpg');