<div class="question-wrapper">
    <div class="question">
        1. Do you have a temperature of 100.4 °F or higher?
    </div>
    <div class="options">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="question">
        2. Are you taking fever-reducing medicines, such as those that contain asprin, ibuprofen or acetaminophen, in or to
        reduce your fever?
    </div>
    <div class="options">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="question">
        3. Have you had close contract or cared for someone with COVID-19 in the last 14 days?
    </div>
    <div class="options">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="question">
       4. Have you returned from travel from outside the country?
    </div>
    <div class="options">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="question">
      5. Have you been directed to self-quarantine by a health care provider?
    </div>
    <div class="options">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
    </div>
</div>