@import "../../common/styles/quickDoc.scss";

.careers-container {
    display: flex;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .title-wrapper {
        padding: 2rem;
        font-weight: 700;
        text-align: center;
        .title {
            font-size: 3rem;
            font-family: $primaryFontFamily, $secondaryFontFamily;
        }
    }
    .career-description-wrapper {
        padding: 2rem;
        .career-description {
            display: flex;
            font-size: calc(1.275rem + 0.3vw);
            font-family: $primaryFontFamily, $secondaryFontFamily;
        }
    }
    .btn-wrapper {
        padding: 2rem;
        .opportunity-btn {
            color: $buttonTextColor;
            background-color: $buttonColor;
            border-radius: 3rem;
            padding: 0rem 2rem;
            font-family: $primaryFontFamily, $secondaryFontFamily;
            box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
        }
        :hover {
            color: $buttonTextSecondaryColor;
            background-color: $buttonSecondaryColor;
        }
    }
}
.careers-wrapper {
    background-color: #fafafa;
    .careers {
        font-family: $primaryFontFamily, $secondaryFontFamily;
        padding-bottom: 1rem;
        .career-title {
            text-align: center;
            font-weight: 700;
            font-size: 3rem;
            padding: 4rem 0 4rem 0;
        }
    }
}
