<div *ngIf="!isOpenPositionsRequested"
    class="container container-fluid container-xxl container-xl container-lg container-md container-sm careers-container">
    <div class="title-wrapper">
        <span class="title">Excited to work with us!</span>
    </div>
    <div class="career-description-wrapper">
        <span class="career-description" align="center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        </span>
    </div>
    <div class="btn-wrapper">
        <button href="#careers" mat-raised-button class="opportunity-btn">Search Open Opportunities</button>
    </div>
</div>

<div #careers class="careers-wrapper">
    Career wrapper works!
</div>