@import "../../common/styles/quickDoc.scss";

.careers-wrapper {
    background: $careersBackgroundImageURL;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-wrapper {
        padding: 2rem;
        color: $mainFontColor;
        text-align: center;
        .title {
            font-size: 3rem;
            font-family: $primaryFontFamily, $secondaryFontFamily;
        }
    }
    .career-description-wrapper {
        padding: 2rem;
        color: $mainFontColor;
        .career-description {
            display: flex;
            font-size: calc(1.275rem + 0.3vw);
            font-family: $primaryFontFamily, $secondaryFontFamily;
        }
    }
    .btn-wrapper {
        padding: 2rem;
        .opportunity-btn {
            color: $buttonTextColor;
            background-color: $buttonColor;
            border-radius: 3rem;
            padding: 0rem 2rem;
            font-family: $primaryFontFamily, $secondaryFontFamily;
        }
        :hover {
            color: $buttonTextSecondaryColor;
            background-color: $buttonSecondaryColor;
        }
    }
}
