<div class="container container-fluid container-xxl container-xl container-lg container-md container-sm careers-container">
    <div class="title-wrapper">
        <span class="title">Excited to work with us!</span>
    </div>
    <div class="career-description-wrapper">
        <span class="career-description" align="center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        </span>
    </div>
    <div class="btn-wrapper">
        <button mat-raised-button class="opportunity-btn" (click)="scrollToCareerWrapper()">Search Open
            Opportunities</button>
    </div>
</div>
<div class="careers-wrapper">
    <div id="careers"
        class="careers container container-fluid container-xxl container-xl container-lg container-md container-sm">
        <div class="career-title">
            <span class="title">Current Openings</span>
        </div>
        <div class="row career">
            <ng-container *ngFor="let career of careerLists">
                <app-career-item class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" [career]="career"></app-career-item>
            </ng-container>
        </div>
    </div>
</div>