@import "../../../common/styles/quickDoc.scss";

.pop-up-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primaryFontFamily, $secondaryFontFamily;
    .close-menu {
        top: 1rem;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        color: $mainBackgroundColor;
    }
    .menu-item {
        padding: 1rem;
        color: $mainBackgroundColor;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .menu-item:hover {
        color: $mainForeColor;
        background-color: $mainBackgroundColor;
    }
    .menu-item-active {
        color: $mainForeColor;
        background-color: $mainBackgroundColor;
    }
    .language-change {
        padding: 1rem;
        color: $mainBackgroundColor;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        mat-select {
            width: auto !important;
            font-family: $primaryFontFamily, $secondaryFontFamily;
        }
        ::ng-deep.mat-select-trigger {
            .mat-select-value {
                color: $mainBackgroundColor;
                font-family: $primaryFontFamily, $secondaryFontFamily;
            }
            .mat-select-arrow-wrapper {
                .mat-select-arrow {
                    color: $mainBackgroundColor;
                }
            }
        }
    }
}
