@import "../../../common/styles/quickDoc.scss";

.pop-up-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    font-family: $primaryFontFamily, $secondaryFontFamily;
    .menu-item {
        padding: 1rem;
        color: #ffffff;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    :hover {
        color: $mainForeColor;
        background-color: #ffffff;
    }
    .menu-item-active {
        color: $mainForeColor;
        background-color: #ffffff;
    }
}