.pop-up-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    .menu-item {
        padding: 1rem;
        color: #ffffff;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    :hover {
        color: rgb(10, 129, 233);
        background-color: #ffffff;
    }
    .menu-item-active {
        color: rgb(10, 129, 233);
        background-color: #ffffff;
    }
}