<nav class="public-site-navigation">
    <div class="nav-title">
        <span class="quick-doc-title">quickDoc</span>
        <span class="vertical"></span>
    </div>
    <div align="right" class="nav-links">
        <div [routerLink]="['/public-site/landing/home']" routerLinkActive="router-link-active" (click)="homeSelected()"
            class="nav-home" [ngClass]="{active: isHomeSelected}">Home</div>
        <div [routerLink]="['/public-site/landing/services']" routerLinkActive="router-link-active" (click)="servicesSelected()"
            class="nav-services" [ngClass]="{active: isServicesSelected}">Services</div>
        <div [routerLink]="['/public-site/landing/contact-us']" routerLinkActive="router-link-active" (click)="contactSelected()"
            class="nav-contact" [ngClass]="{active: isContactUsSelected}">Contact Us</div>
        <div [routerLink]="['/public-site/landing/careers']" routerLinkActive="router-link-active" (click)="careersSelected()"
            class="nav-careers" [ngClass]="{active: isCareersSelected}">Careers</div>
        <div [routerLink]="['/public-site/landing/news']" routerLinkActive="router-link-active" (click)="newsSelected()" 
            class="nav-news" [ngClass]="{active: isNewsSelected}">News</div>
        <div [routerLink]="['/public-site/landing/register']" routerLinkActive="router-link-active" (click)="registerSelected()"
            class="nav-register" [ngClass]="{active: isRegisterSelected}">Register</div>
        <div [routerLink]="['/public-site/landing/login']" routerLinkActive="router-link-active" (click)="loginSelected()"
            class="nav-login" [ngClass]="{active: isLoginSelected}">Login</div>
    </div>
</nav>