@import "../../common/styles/quickDoc.scss";

.public-site-navigation {
    top: 0rem;
    left: 0rem;
    z-index: 2;
    right: 0rem;
    display: flex;
    font-size: 1rem;
    color: $mainBackgroundColor;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    font-family: $primaryFontFamily, $secondaryFontFamily;
    background-color: $mainForeColor;
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
    .public-site-logo {
        margin-right: 55rem;
        .vertical-bar {
            height: 1.5rem;
            position: absolute;
            margin-left: 0.5rem;
            border-left: 0.1rem solid rgb(255, 255, 255);
        }
    }
    .nav-lists {
        margin: 0rem;
        list-style-type: none;
        .active {
            color: $mainForeColor !important;
            background-color: $mainBackgroundColor;
        }
        .list-item {
            display: inline-block;
            padding: 1rem 1rem;
            cursor: pointer;
        }
        .list-item:hover {
            color: $mainForeColor;
            background-color: $mainBackgroundColor;
        }
        .language-change {
            display: inline-block;
            padding: 1rem 1rem;
            cursor: pointer;
            mat-select {
                font-family: $primaryFontFamily, $secondaryFontFamily;
            }
            ::ng-deep.mat-select-value {
                color: $mainBackgroundColor;
                font-family: $primaryFontFamily, $secondaryFontFamily;
            }
            ::ng-deep.mat-select-arrow-wrapper {
                .mat-select-arrow {
                    color: $mainBackgroundColor;
                }
            }
        }
    }
    .ham-burger {
        display: none;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}

.scroll {
    position: fixed !important;
}


@media only screen and (max-width: 1180px) {
    .public-site-navigation {
        .public-site-logo {
            margin-right: 0rem;
        }
    }
}

@media only screen and (min-width: 1181px) and (max-width: 1390px) {
    .public-site-navigation {
        .public-site-logo {
            margin-right: 10rem;
        }
    }
}

@media only screen and (min-width: 1391px) and (max-width: 1600px) {
    .public-site-navigation {
        .public-site-logo {
            margin-right: 20rem;
        }
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
    .public-site-navigation {
        .public-site-logo {
            margin-right: 30rem;
        }
    }
}

@media only screen and (max-width: 900px) {
    .public-site-navigation {
        height: 56px;
        .public-site-logo {
            .vertical-bar {
                display: none;
            }
        }
        .nav-lists {
            display: none;
        }
        .ham-burger {
            display: block;
        }
    }
}
