<nav class="public-site-navigation">
    <div class="public-site-logo">
        <span class="quick-doc-logo">quickDoc</span>
        <span class="vertical-bar"></span>
    </div>
    <ul class="nav-lists">
        <li class="list-item" [routerLink]="['/public-site/landing/home']" routerLinkActive="router-link-active"
            (click)="homeSelected()" [ngClass]="{active: isHomeSelected}">Home</li>
        <li class="list-item" [routerLink]="['/public-site/landing/services']" routerLinkActive="router-link-active"
            (click)="servicesSelected()" [ngClass]="{active: isServicesSelected}">Services</li>
        <li class="list-item" [routerLink]="['/public-site/landing/contact-us']" routerLinkActive="router-link-active"
            (click)="contactSelected()" [ngClass]="{active: isContactUsSelected}">Contact Us</li>
        <li class="list-item" [routerLink]="['/public-site/landing/careers']" routerLinkActive="router-link-active"
            (click)="careersSelected()" [ngClass]="{active: isCareersSelected}">Careers</li>
        <li class="list-item" [routerLink]="['/public-site/landing/news']" routerLinkActive="router-link-active"
            (click)="newsSelected()" [ngClass]="{active: isNewsSelected}">News</li>
        <li class="list-item" [routerLink]="['/public-site/landing/register']" routerLinkActive="router-link-active"
            (click)="registerSelected()" [ngClass]="{active: isRegisterSelected}">Register</li>
        <li class="list-item" [routerLink]="['/public-site/landing/login']" routerLinkActive="router-link-active"
            (click)="loginSelected()" [ngClass]="{active: isLoginSelected}">Login</li>
    </ul>
    <div class="ham-burger" (click)="onPopUpMenuClick()">
        <mat-icon>reorder</mat-icon>
    </div>
</nav>