<div class="forgot-password-wrapper">
    <form [formGroup]="passwordRecoveryForm">
        <div class="password-recovery">
            <img class="password-recovery-image" [src]="passwordRecoveryImageUrl" />
        </div>
        <div class="password-recovery-title">
            <mat-label class="recovery-title">trouble logging in?</mat-label>
        </div>
        <div class="password-recovery-instruction">
            <mat-label class="recovery-instruction" align="center">
                Enter your email and we'll sent you a link to get back into your account
            </mat-label>
        </div>
        <div class="recovery-email">
            <input type="email" class="recovery-input" mat-input placeholder="password.recovery@quickDoc.me"
                formControlName="recoveryEmail">
        </div>
        <div class="recovery-actions">
            <button mat-raised-button class="confirm-button" (click)="onConfirmClick(passwordRecoveryForm)"
                [disabled]="!passwordRecoveryForm.valid">confirm</button>
            <button mat-raised-button class="cancel-button" (click)="onCancelClick()">cancel</button>
        </div>
    </form>
</div>