@import "../../common/styles/quickDoc.scss";

.article-container {
    display: flex;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-top: 4rem;
    .article-header {
        font-size: 3rem;
        font-weight: 700;
        padding: 1rem;
        text-align: center;
    }
    .article-wrapper {
        .article {
            height: calc(100vh - 13rem);
            overflow: scroll;
            overflow-x: hidden;
            .divider {
                margin: 1rem 1rem;
                width: 90%;
                text-align: center;
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 470px) {
    .article-container {
        .article-header {
            font-size: 2rem;
        }
    }
}
