<div class="news-wrapper">
    <div class="news-header">
        <div class="header">
            LATEST NEWS
        </div>
        <div class="header-bottom-bar">
            <mat-divider class="bottom-bar"></mat-divider>
        </div>
    </div>
    <div class="news-scrolling-wrapper">
        <div class="news-card" *ngFor="let news of newsList">
            <!-- <app-news [news]="news"></app-news> -->
            <img class="news-image" alt="news-img" [src]="news.image">
            <div class="news-content-wrapper">
                <span class="head-line">{{ news.headLine }}</span>
                <div class="read-more">
                    <button mat-raised-button class="read-more-btn">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>