<div *ngIf="!isIndividualArticleSelected"
    class="container container-fluid container-xxl container-xl container-lg container-md container-sm article-container">
    <div class="article-header">
        Articles / News
    </div>
    <div class="row article-wrapper">
        <div *ngIf="focusedArticle" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 article-focused">
            <app-news [news]="focusedArticle" (click)="selectArticle(focusedArticle)"></app-news>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 article">
            <ng-container *ngFor="let news of newsList">
                <div *ngIf="!news.focusedItem" class="row">
                    <app-news [news]="news" (click)="selectArticle(news)"></app-news>
                    <mat-divider class="divider"></mat-divider>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<app-read-article *ngIf="isIndividualArticleSelected" [article]="selectedArticle" (readArticleViewDisabled)="individualArticleDisabled()"></app-read-article>