<!-- <mat-form-field appearance="legacy">
    <mat-select [formControl]="listitem" (selectionChange)="setSelectedLanguageToLocalStorage($event)">
        <mat-select-trigger>
            <span class="icon icon-{{listitem.value}}">&nbsp;</span>
            {{ listitem.value | uppercase }}
        </mat-select-trigger>
        <mat-option *ngFor="let language of possibleLanguageValues" [value]="language.value">
            <span class="icon icon-{{item}}">&nbsp;</span>
            {{ item | uppercase }}
        </mat-option>
    </mat-select>
</mat-form-field> -->