<div class="container container-fluid container-xxl container-xl container-lg container-md container-sm">
    <div class="back">
        <span class="back-text" (click)="onBackClick()">
            <mat-icon>keyboard_backspace</mat-icon>
            <span>Back</span>
        </span>
    </div>
    <div class="back-text-description">
        <img src="../../../../../assets/images/noDataFound.jpg" alt="" class="image">
        <div>
            <span>Oops! No results found for your query</span>
            <span class="query"> '{{ query }}' </span>
        </div>
    </div>
</div>