<div class="contact-us-wrapper">
    <div class="container container-fluid container-xxl container-xl container-lg container-md container-sm">
        <div class="contact-us-title">
            <span class="title">Get in touch</span>
            <span class="description" align="center">
                Fill up the form and our team will get back to you within 24 hours.
            </span>
        </div>
        <div class="row address-message-wrapper">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  address-wrapper">
                <div class="row address">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 image-wrapper">
                        <img class="image" src="../../../../assets/svg-icons/worldLocation.svg" (click)="enableLocationView()">
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 address-content">
                        <span class="row title">Address</span>
                        <span class="row content" (click)="enableLocationView()">4671 Sugar camp road, <br /> Owatonna, Minnesota, <br /> 55060</span>
                    </div>
                </div>
                <div class="row phone-number">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 image-wrapper">
                        <a href="tel:+918113811270">
                            <img class="image" src="../../../../assets/svg-icons/telePhoneIcon.svg">
                        </a>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 phone-number-content">
                        <span class="row title">Phone</span>
                        <a class="row content" href="tel:+918113811270">+918113811270</a>
                    </div>
                </div>
                <div class="row email">
                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 image-wrapper">
                        <a href="mailto:enquiry@quickdoc.me?cc=ajpulluvelil@gmail.com&subject=Hospital%20enquiry%20from%20QuickDoc&body=Hi%20QuickDoc">
                            <img class="image" src="../../../../assets/svg-icons/emailIcon.svg">
                        </a>
                    </div>
                    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 email-content">
                        <span class="row title">Email</span>
                        <a class="row content"
                            href="mailto:enquiry@quickdoc.me?cc=ajpulluvelil@gmail.com&subject=Hospital%20enquiry%20from%20QuickDoc&body=Hi%20QuickDoc">
                            enquiry@quickdoc.me</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  message-wrapper">
                <div class="message-content" *ngIf="!isLocationEnabled">
                    <form [formGroup]="contactUsForm">
                        <div class="title">
                            Send Message
                        </div>
                        <div class="full-name">
                            <mat-form-field class="full-name-field" appearance="fill">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="David Williams" formControlName="fullName">
                                <mat-error *ngIf="form['fullName'].errors?.['required']">
                                    Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="email">
                            <mat-form-field class="email-field" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="david.williams@quickdoc.me" formControlName="email">
                                <mat-error
                                    *ngIf="!form['email'].errors?.['required'] && form['email'].errors?.['email']">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="form['email'].errors?.['required']">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="message">
                            <mat-form-field class="message-field" appearance="fill">
                                <mat-label>Leave a comment</mat-label>
                                <textarea matInput placeholder="Comments" formControlName="comment"></textarea>
                                <mat-error *ngIf="form['comment'].errors?.['required']">
                                    Comment is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="send">
                            <button mat-raised-button type="button" class="btn send-btn" [disabled]="!contactUsForm.valid"
                                (click)="onSubmit(contactUsForm)">Send</button>
                        </div>
                    </form>
                </div>
                <app-location *ngIf="isLocationEnabled" (locationViewClose)="closeLocationView()"></app-location>
            </div>
        </div>
    </div>
</div>