<div class="contact-us-wrapper">
    <div class="contact-us-title">
        <span class="title">Contact Us</span>
        <span class="description" align="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam</span>
    </div>
    <div class="row address-message-wrapper">
        <div class="col address-wrapper">
            <div class="row address">
                <div class="col image-wrapper">
                    <img class="image" src="../../../../assets/svg-icons/worldLocation.svg">
                </div>
                <div class="col address-content">
                    <span class="row title">Address</span>
                    <span class="row content">4671 Sugar camp road, <br /> Owatonna, Minnesota, <br /> 55060</span>
                </div>
            </div>
            <div class="row phone-number">
                <div class="col image"></div>
                <div class="col phone-number-content">
                    <span class="row title">Phone</span>
                    <span class="row content">+918113811270</span>
                </div>
            </div>
            <div class="row email">
                <div class="col image"></div>
                <div class="col email-content">
                    <span class="row title">Email</span>
                    <span class="row content">enquiry@quickdoc.me</span>
                </div>
            </div>
        </div>
        <div class="col message-wrapper">
        </div>
    </div>
</div>