@import "../../common/styles/quickDoc.scss";

.service-container {
    background: $contactUsBackgroundImageURL;
    padding: 3rem 2rem 3rem 3rem;
    background-size: cover;
    width: 99.7vw;
    background-attachment: fixed;
}
