.services {
    margin-top: 1rem;
    width: 35rem;
    height: 20rem;
    .service-content {
        width: 33.75rem !important;
        height: 18rem;
        overflow: hidden;
        overflow-y: scroll;
        .service-description {
            margin-right: 1rem;
        }
    }
}

::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 1.25rem;
    border: 0.375rem solid transparent;
    background-clip: content-box;
}
