@import "../../common/styles/quickDoc.scss";

.registration-wrapper {
    height: 94.2%;
    display: flex;
    background-size: cover !important;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-family: "Style Script", cursive;
    background: $registrationBackgroundImageURL;
    .registration-title {
        display: flex;
        justify-content: center;
        .title-label {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .name-wrapper {
        display: flex;
        flex-direction: row;
        .first-name-wrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            .first-name-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
        .last-email-wrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            .last-name-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .email-wrapper {
        display: flex;
        flex-direction: row;
        .email-address-wrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            .email-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
        .confirm-email-wrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            .confirm-email-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .gender-telephone-wrapper {
        display: flex;
        flex-direction: row;
        .gender-wrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            .gender-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
        .telephone-wrapper {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            .telephone-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .dob-nationality-wrapper {
        display: flex;
        flex-direction: row;
        .dob-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .dob-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
        .nationality-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .nationality-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .country-state-wrapper {
        display: flex;
        flex-direction: row;
        .country-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .country-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
            .country-option {
                font-family: "Style Script", cursive;
            }
        }
        .state-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .state-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .district-city-wrapper {
        display: flex;
        flex-direction: row;
        .district-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .district-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
        .city-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .city-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .pin-landmark-wrapper {
        display: flex;
        flex-direction: row;
        .pin-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .pin-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
        .landmark-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .landmark-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .apartment-street-wrapper {
        display: flex;
        flex-direction: row;
        .apartment-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .apartment-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
        .street-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            .street-input {
                padding: 0.3rem;
                border: none;
                outline: none;
                box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
            }
        }
    }
    .submit-button-wrapper {
        display: flex;
        justify-content: center;
        .submit-button {
            margin-top: 1rem;
            background-color: rgb(10, 129, 233);
            color: #ffffff;
            box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
        }
    }
}

::ng-deep .mat-autocomplete-panel {
    &::-webkit-scrollbar {
        width: 1.25rem;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 1.25rem;
        border: 0.375rem solid transparent;
        background-clip: content-box;
    }
    span {
        font-family: "Style Script", cursive;
    }
}
