<div class="registration-wrapper">
    <form action="">
        <div class="registration-title">
            <mat-label class="title-label">Enter your Details!</mat-label>
        </div>
        <div class="row name-wrapper">
            <div class="col first-name-wrapper">
                <mat-label class="first-name-label">First Name</mat-label>
                <input mat-input type="text" class="first-name-input">
            </div>
            <div class="col last-email-wrapper">
                <mat-label class="last-name-label">Last Name</mat-label>
                <input mat-input type="text" class="last-name-input">
            </div>
        </div>
        <div class="row email-wrapper">
            <div class="col email-address-wrapper">
                <mat-label class="email-label">Email Address</mat-label>
                <input mat-input type="email" class="email-input">
            </div>
            <div class="col confirm-email-wrapper">
                <mat-label class="confirm-email-label">Confirm Email Address</mat-label>
                <input mat-input type="text" class="confirm-email-input">
            </div>
        </div>
        <div class="row gender-telephone-wrapper">
            <div class="col gender-wrapper">
                <mat-label class="gender-label">Gender</mat-label>
                <input type="text" class="gender-input">
            </div>
            <div class="col telephone-wrapper">
                <mat-label class="telephone-label">Telephone</mat-label>
                <input type="text" class="telephone-input">
            </div>
        </div>
        <div class="row dob-nationality-wrapper">
            <div class="col dob-wrapper">
                <mat-label class="dob-label">Date of Birth</mat-label>
                <input type="text" class="dob-input">
            </div>
            <div class="col nationality-wrapper">
                <mat-label class="nationality-label">Nationality</mat-label>
                <input type="text" class="nationality-input">
            </div>
        </div>
        <div class="row country-state-wrapper">
            <div class="col country-wrapper">
                <mat-label class="country-label">Country</mat-label>
                <input type="text" class="country-input">
            </div>
            <div class="col state-wrapper">
                <mat-label class="country-label">State</mat-label>
                <input type="text" class="state-input">
            </div>
        </div>
        <div class="row district-city-wrapper">
            <div class="col district-wrapper">
                <mat-label class="district-label">District</mat-label>
                <input type="text" class="district-input">
            </div>
            <div class="col city-wrapper">
                <mat-label class="city-label">City</mat-label>
                <input type="text" class="city-input">
            </div>
        </div>
        <div class="row pin-landmark-wrapper">
            <div class="col pin-wrapper">
                <mat-label class="pin-label">ZIP</mat-label>
                <input type="text" class="pin-input">
            </div>
            <div class="col landmark-wrapper">
                <mat-label class="landmark-label">Landmark</mat-label>
                <input type="text" class="landmark-input">
            </div>
        </div>
        <div class="row apartment-street-wrapper">
            <div class="col apartment-wrapper">
                <mat-label class="apartment-label">Apartment</mat-label>
                <input type="text" class="apartment-input">
            </div>
            <div class="col street-wrapper">
                <mat-label class="street-label">Street</mat-label>
                <input type="text" class="street-input">
            </div>
        </div>
        <div class="submit-button-wrapper">
            <button mat-raised-button class="submit-button">Submit</button>
        </div>
    </form>
</div>