@import "~bootstrap/dist/css/bootstrap.css";
@import "../src/app/modules/common/styles/quickDoc.scss";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pop-up-menu {
    .mat-dialog-container {
        background-color: $mainForeColor !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.back-drop-pop-up-menu {
    backdrop-filter: blur(0.5rem);
}

.success-notification-message {
    background-color: #008000;
    color: #ffffff;
    .mat-simple-snackbar,
    .mat-simple-snackbar-action,
    .mat-button {
        font-family: $primaryFontFamily, $secondaryFontFamily !important;
    }
    .mat-simple-snackbar-action {
        color: $mainForeColor;
    }
}

.error-notification-message {
    font-family: $primaryFontFamily, $secondaryFontFamily !important;
    background-color: #ff0000;
    color: #ffffff;
    .mat-simple-snackbar,
    .mat-button {
        font-family: $primaryFontFamily, $secondaryFontFamily !important;
    }
    .mat-simple-snackbar-action {
        color: $mainForeColor;
    }
}

.auto-complete.mat-autocomplete-panel {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
        border-radius: 0.25rem;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 1.25rem;
        background-color: #d6dee1;
    }
}
