@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pop-up-menu {
    .mat-dialog-container {
        background-color: rgb(10, 129, 233) !important;
    }
}
