<div class="container not-found-container">
    <div class="row">
        <div class="col text-col">
            <span class="row page-text">Page</span>
            <span class="row not-found-text">Not Found</span>
            <span class="row not-found-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum
            </span>
            <div class="row not-found-btn">
                <button (click)="onBackwardClick()" class="back-btn" mat-button>Go Back</button>
            </div>
        </div>
        <div class="col not-found-col">
            <img class="not-found-img" src="../../../../../../assets/images/page-not-found.jpg" alt="page-not-found.jpg" />
        </div>
    </div>
</div>